<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/mainPageStyle.css' )}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="loader-wrapper">
        <div class="spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div id="title">
        <a href="{{url_for('mainPageLogin', username=username )}}"><img class="homelogo" src="{{ url_for('static', filename='photos/homelogo.png') }}" alt="logo"></a>
        <img class="logo" src="{{ url_for('static', filename='photos/logo.png') }}" alt="">
        <div class="profile">
            <img class="proImg" src="{{ url_for('static', filename='photos/Avatar.png') }}" alt="profile pic">
            <span id="username">
                {{ username }}
            </span>
            <button class="logoutbtn" onclick="window.location.href='{{ url_for('homePage') }}'"><i class="fa fa-power-off"></i></button>
        </div>
    </div>
    <nav class="topnav" id="myTopnav">
        <a href="{{url_for('cricketHome', username=username )}}" class="cricLink">Cricket <span class="cricIcon">🏏</span></a>
        <a class="footLink" style="background-color: #fefae0; color: #606c38;">Football ⚽︎</a>
    </nav>

    <div class="ContentBox">
        <button id="addNewFoot" class="addNew" onclick="window.location.href='{{ url_for('createPage') }}'">Create new game</button>

        <div class="recentGames">
            {% if tablesdet == {} %}
                <h2>Create your first game now</h2>
            {% endif %}            
            {% for table_name, game in tablesdet.items() %}
            <div class="recentGameContainer" onclick="window.location.href='{{ url_for('footballView', gameName=game.game_name, userid=userid) }}'">
                <div class="gameName">{{ game.game_name.upper() }}</div>
                <p class="dateNtime">{{ game.datetime }}</p>
                <hr>
                <div class="scoreNteam">
                    <h3 class="teamA">{{ game.teamA }}</h3>
                    <h2 class="score">{{ game.score }}</h2>
                    <h3 class="teamB">{{ game.teamB }}</h3>                    
                </div>
                <p class="endtime">({{ game.end_time }})</p>
            </div>
            {% endfor %}

        </div>
    </div>

    <script>
        window.addEventListener("load", () => {
            const loader = document.querySelector(".loader-wrapper");
            loader.style.opacity = "0";
            loader.style.visibility = "hidden";
            loader.style.transition = "opacity 0.5s ease-out, visibility 0.5s ease-out";
        });
    </script>
</body>
</html>